* {
  box-sizing: border-box;
}

:root {
  --color-primary: #8FB3B0;
  --color-secondary: #374A4D;
  --color-tertiary: #A5B5C1;
  --color-neutral: #131515;
  --color-base: #eadfdf2d;
  --color-bright: #626543;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;

  --max-content: 780px;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-neutral);
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/*a:visited {
  color: inherit;
}*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

picture,
img {
  max-width: 100%;
  margin: 0;
}



h1 {
  font-size: 14px;
  letter-spacing: 0.2rem;
  margin: 0;
  color: #ffffff;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 0;
  text-align: center;
}

.body-flex {
  display: flex;
  flex-direction: row;
}

.nav {
  max-width: 280px;
  width: 100%;
  flex-shrink: 0;
  border-right: 1px solid #252323;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.nav__logo img {
  width: 100px;
  height: auto;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav__list-item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #545454;
  font-size: 14px;
}

.nav__list-item a:hover {
  color: #aba9a9a7;
}

.list-item--active {
  color: #aaa8a8;
}

.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  flex: 1;
  max-width: 1100px;
  margin: 50px 60px;
  color: #A5B5C1;
}

.main__cont {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 50px 60px;
  color: #A5B5C1;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.main__title {
  font-size: 32px;
}



.workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mission-container {
  color: #A5B5C1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.mission-creator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px 6px 16px;
  background-color: #000000;
  border: none;
  width: 100%;
  border-radius: 10px;
}

.mission-creator:focus-within {
  border-color: #769f9d29;
  box-shadow: 0 0 0 1px #769f9d29;
}

.mission-creator__input {
  flex: 1;
  background-color: #000000;
  border: none;
  color: #ffffff77;
  font-size: 20px;
  outline: none;
}

.strategic-card__container {
  display: flex;
  flex-direction: row;
  margin: 40px;
  gap: 30px;
}

.strategic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;


  flex: 1;
  border: 1px solid #4857631d;
  border-radius: 10px;
  padding: 30px;
}

.card__text {
  text-align: center;
  font-size: 16px;
  line-height: 150%;

}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.btn--primary {
  padding: 8px 40px;
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary)80%);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: #000000a0;
  font-weight: 600;
}

.btn--primary:hover {
  box-shadow: 0 6px 20px rgba(224, 236, 232, 0.264);
  color: #000000a0;
}

.btn--secondary {
  padding: 12px 24px;
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary)80%);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: #000000a0;
}

.btn--secondary:hover {
  box-shadow: 0 6px 20px rgba(224, 236, 232, 0.264);
  color: #000000a0;
}

.btn--tertiary {
  background: transparent;
  color: #c3c6cacf;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

.btn--tertiary:hover {
  color: #ffffff;
}

.btn--active {
  background-color: #48576367;
}

.btn__group {
  display: flex;
  gap: 8px;
  background-color: #252f374f;
  padding: 5px 12px;
  border-radius: 10px;
}

.btn__content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000a0;
  font-weight: 600;
  font-size: 14px;
  width: min-content;
}





















.footer {
  display: flex;
  gap: 20px;
  align-items: baseline;
  justify-content: space-between;
  color: #706e6e;
  margin: 10px;
}

.footer-right {
  display: flex;
  align-items: baseline;
  gap: 20px;
}




























.hidden {
  display: none;
}



@media all and (min-width: 640px) and (max-width: 1023.98px) {}

@media all and (min-width: 1024px) {}