* {
  box-sizing: border-box;
}

:root {
  --color-primary: #8FB3B0;
  --color-secondary: #374A4D;
  --color-tertiary: #A5B5C1;
  --color-neutral: #131515;
  --color-base: #eadfdf2d;
  --color-bright: #626543;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;

  --max-content: 780px;





}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-neutral);
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/*a:visited {
  color: inherit;
}*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

picture,
img {
  max-width: 100%;
  margin: 0;
}

h1 {
  margin: 0;
  color: #ffffff;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 150%;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 1rem;
}

fieldset {
  flex: 1;
  border: none;
  padding: 0;
  margin: 0;
}

.body-flex {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 30px;
  max-width: 280px;
  width: 100%;
  height: 100vh;
  border-right: 1px solid #252323;
}

.nav__logo img {
  width: 100px;
  height: auto;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav__list-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #545454;
}

.nav__list-item a:hover {
  color: #aba9a9a7;
}

.list-item--active {
  color: #aaa8a8;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main__container {
  align-items: center;
  gap: 60px;
  flex: 1;
  width: 100%;
  max-width: 1100px;
  margin: 50px 60px;
  color: #A5B5C1;
}




.workspace {
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.dashboard {
  max-width: 400px;
  gap: 120px;
  align-items: center;

}


.progress-card {
  gap: 24px;
  align-items: center;

  padding: 12px;

}

.time-remaining {
  flex: 1;
  border: 1px solid #3b444b;
  border-radius: 10px;
  padding: 24px 40px;
}

.time-remaining__header {
  gap: 12px;
  font-size: 12px;
  font-weight: 700;
}

.mission-creator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px 6px 16px;
  width: 100%;
  flex: 1;
  border: none;
  border-radius: 10px;
  background-color: #0b0b0ba8;
}

.mission-creator:focus-within {
  border-color: #769f9d29;
  box-shadow: 0 0 0 1px #769f9d29;
}

.mission-creator__input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  color: #ffffffac;
}

.mission__container {
  color: #A5B5C1;
  gap: 24px;
  flex: 1;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;

}

.justify-space-between {
  justify-content: space-between;
}

.align-baseline {
  align-items: baseline;
}


.mission__title {
  font-size: 16px;
  letter-spacing: 0.2rem;
}

.form__container {
  width: 100%;
  max-width: 900px;
  gap: 10px;
}

.form__header {
  align-items: center;
  gap: 16px;
}

.form__legend {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-20 {
  margin-bottom: 20px;
}




.input-field {
  border: none;
  outline: none;
  font-size: 20px;
  color: #ffffffac;
  background-color: #0b0b0b7b;
  border-radius: 10px;
  padding: 20px 32px;
  width: 100%;
  max-width: 700px;
}

.toggle__container {
  align-items: center;
  gap: 8px;
  padding: 20px 14px;
  width: fit-content;
  background: #1a1c1e;
  border-radius: 10px;
}

.toggle__label,
.toggle__status {
  font-size: 12px;
  font-weight: 700;
  color: #8b9a9a;
}

.toggle-btn {
  display: inline-flex;
  align-items: center;
  width: 44px;
  height: 24px;
  background-color: #4d545b72;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-btn--active {
  background-color: #5a8782c9;
}

.toggle-slider {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--color-tertiary);
  border-radius: 50%;
  transform: translateX(4px);
  transition: transform 0.4s ease;
}

.toggle-btn--active .toggle-slider {
  transform: translateX(24px);
}

.form__error {
  color: #71c1b5ec;
  font-size: 14px;
  font-weight: 800;
}

.mission-title {
  text-transform: uppercase;
}






.mission-types__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
  justify-content: start;
  gap: 16px;
  margin-bottom: 32px;
}

.mission-types__option {
  border-radius: 10px;
  border: 1px solid #2f313266;
  background-color: #1c1e2033;
  padding: 12px 24px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.mission-types--active {
  background-color: #162525;
  border: 1px solid #1b453f;
  box-shadow: 0 4px 15px rgba(41, 67, 63, 0.35);
}

.option__content {
  align-items: baseline;
  gap: 8px;
  font-weight: 700;
}

.option__title {
  font-size: 14px;
  color: #f3f4f6df
}

.option__subtitle {
  font-size: 12px;
  color: #656E70;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.mission-types__option:has(input:focus-visible) {
  border-color: #ffffff;
}

.form__context {

  color: var(--color-tertiary);
  line-height: 150%;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.362);
}

.breakdown__header {
  justify-content: space-between;
  align-items: baseline;

}

.breakdown__list {
  gap: 20px;
}

.breakdown__list-item {
  background-color: #1a1c1e;
  border: 1px solid #131515;
  border-radius: 10px;
  padding: 12px 40px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.603);
  min-height: 84px;

}

.list-item__number {
  font-size: 20px;
  font-weight: 700;
  color: #3e4b4dd6;
  margin-right: 32px;
}

.list-item__input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  color: #ffffffac;
  width: 100%;
}

.list-item__input::placeholder {
  color: #7479798b;
}

.list-item__actions {
  gap: 8px;
}

.set-time__button {
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  border-radius: 40px;
  box-shadow: 0 0 3px 0 #c5dcdb33;
  padding: 10px;
  min-width: 130px;
  background-color: #769f9d53;
  color: #bdc0c2db;
}

.set-time__button:hover {
  background-color: #769f9d80;
}

.delete__button {
  max-width: 90px;
  background: none;
  color: #a5b5c1c4;
  padding: 10px;
  box-shadow: 0 0 3px 0 #c5dcdb33;
}

.delete__button:hover {
  background-color: #5e606027;
}

.add-step__button {
  gap: 8px;
  align-items: center;
  background: none;
  color: #a5b5c1c4;
  width: 100%;
}

.add-step__button:hover {
  background-color: #1a1c1e;
}

.submit__button {
  gap: 12px;
  align-items: center;
  max-width: max-content;
  margin: 0 auto;
  padding: 20px 40px;
  color: #232626;
  font-weight: 600;
  background: linear-gradient(90deg, var(--color-tertiary) 0, var(--color-secondary) 90%);
}

.calibration__container {
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background: radial-gradient(circle at center, #1a2a28 0%, #0d1413 100%);
  padding: 40px;
  border-radius: 16px;
  user-select: none;
  flex: 1;
  width: 100%;
}

.column__time {
  align-items: center;
  min-width: 80px;
}

.column__label {
  color: #6b8783;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.calibration__button {
  background: none;
  border: none;
  color: #3a4b49;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.calibration__button:hover {
  color: #769f9d;
}

.current__value {
  font-size: 24px;
  color: #2a3b39;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.current__value.active {
  font-size: 56px;
  font-weight: bold;
  color: #c9f5f0;
  text-shadow: 0 0 20px rgba(0, 229, 255, 0.4);
}

.time-separator {
  font-size: 40px;
  color: #2a3b39;
  margin-top: 10px;
}

.time-picker__button {
  background-color: #2a3b39;
  color: #c9f5f0;
  padding: 12px 48px;
  border: 1px solid #b6babc32;
  border-radius: 30px;
  box-shadow:
    0 0 10px 0 rgba(118, 159, 157, 0.5),
    inset 0 0 10px 0 rgba(118, 159, 157, 0.3);
  cursor: pointer;
}

.time-picker__button:hover {
  background-color: #2a3b39cd;
}


.error-message {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #b6babc32;
  color: white;
  padding: 20px 60px;
  border-radius: 8px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
}


.close__button {
  position: absolute;
  top: 12px;
  right: 24px;
  background: transparent;
  border: none;
  font-size: 24px;
  line-height: 1;
  color: #f0f1f2;
  cursor: pointer;
  padding: 8px;
  transition: color 0.2s ease;
  opacity: 0.7;
}

.close__button:hover {
  opacity: 1;
}

.mission-card {
  gap: 60px;
  justify-content: baseline;
  align-items: center;
  margin-top: 40px;
  border-left: 4px solid #134b4bb2;
  background-color: #333e3a2e;
  border: 1px solid #595f5f72;
  border-radius: 10px;
  padding: 40px;
  width: 100%;

}

.mission-card:active {
  border: 1px solid #b7baba46;

}



.mission-card__header {
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.focus-badge {
  background-color: rgba(162, 136, 227, 0.811);
  color: white;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 10px;
  font-weight: 700;
  margin-left: auto;
  margin-right: 20px;
}



.progress-circular {
  border-radius: 50%;
  background: conic-gradient(var(--color-tertiary) var(--percent, 0%), #1a252b 0deg);
  align-items: center;
  justify-content: center;

}



.progress-circular--lg {
  width: 200px;
  height: 200px;
}

.progress-circular--sm {
  width: 60px;
  height: 60px;
}

.inner-circle {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: var(--color-neutral);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.progress-value {
  text-align: center;
}

.progress-value--lg {
  font-size: 16px;

}

.progress-value--sm {
  font-size: 12px;

}


.title-wrapper {
  margin-left: 32px;
  gap: 16px;
}

.mission-card__type {
  color: #fbfbfb;
  font-weight: 700;
  font-size: 12px;
  max-width: fit-content;
  background-color: #3a8ac348;
  text-align: center;
  padding: 2px 8px;
  border-radius: 3px;
  border: 0.5px solid #3362835f;
}

.mission-card__status {
  align-items: flex-start;
  gap: 60px;
}

.card__status {
  gap: 16px;
  align-items: flex-end;
}

.status__title {
  font-size: 14px;
  font-weight: 700;
  color: #a5b5c18f;
}

.status__label {
  font-size: 12px;
  color: #a5b5c18f;
}

.status__time {
  font-weight: 700;

}



.chevron-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.mission-card__body {
  gap: 40px;
  width: 100%;
}

.mission-card__list {
  gap: 16px;
  list-style: none;
  justify-content: baseline;
  align-items: baseline;
  font-size: 14px;

}

.status-message {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: #144940;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(20px);
  transition: all 0.5s ease;
  z-index: 1000;
}






.card__list-item {
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;

  padding: 16px;

}

.list-item__time {
  color: #f0f1f2;
  background: #292d2e5f;
  text-align: center;
  padding: 12px 24px;
  min-width: 120px;
  border-radius: 10px;
  text-transform: uppercase;
  margin-right: 20px;
}


.task-label {
  gap: 16px;
  align-items: center;

  cursor: pointer;
}


.task-check {
  appearance: none;
  -webkit-appearance: none;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* Kareyi yuvarlak yapar */
  border: 2px solid #3b444b;
  /* İşaretsiz kenarlık rengi */
  background-color: transparent;
  margin: 0;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  flex-shrink: 0;

}



/* Checkbox işaretlendiğinde kutu rengi */
.task-check:checked {
  background-color: #79949f;
  border-color: #79949f;
}

/* İşaretlendiğinde beliren TİK */
.task-check:checked::after {
  content: '';
  width: 4px;
  height: 9px;
  border: solid #0d1114;
  /* TİK rengi (koyu arka planınıza uygun) */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  margin-bottom: 2px;
}




.card__ctas {
  align-items: flex-end;
  justify-content: flex-end;
  gap: 12px;

}



.action__button {
  background: none;
  color: #c3d0d56a;
  padding: 12px;
  max-width: fit-content;
}

.action__button:hover {
  color: #9cb4bdef;
}

.mission-card.is-open .chevron-icon {
  transform: rotate(180deg);
}


































.main__title {
  font-size: 28px;
  font-weight: 500;
}

.strategy__container {
  max-width: 1100px;
  margin: 40px;
  gap: 30px;
}

.strategy-card {
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex: 1;
  padding: 30px;
  cursor: pointer;
  position: relative;
  transform: scale(0.9);
  opacity: 0.7;
  border: 1px solid #4857631d;
  border-radius: 10px;
  color: #798690;
}

.card--active {
  font-weight: 600;
  transform: scale(1.05);
  opacity: 1;
  z-index: 10;
  box-shadow: 0 0 30px rgba(130, 127, 127, 0.308);
  border-color: var(--color-tertiary);
  color: #e4e9ed;
}

.card-icon {
  padding: 10px;
  border: 1px solid #717c8457;
  border-radius: 50px;
}

.card-icon--active {
  background: radial-gradient(circle, rgba(118, 159, 157, 0.352) 0%, rgba(5, 5, 5, 0) 70%);
  box-shadow:
    0 0 20px 0 rgba(118, 159, 157, 0.5),
    inset 0 0 10px 0 rgba(118, 159, 157, 0.3);
  border-color: #A5B5C1;
}

.card__title {
  text-align: center;
}

.card__text {
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

.card-badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: opacity 0.3s ease;
  z-index: 10;
  padding: 4px 16px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  width: max-content;
  border-radius: 20px;
  background-color: #98ccc9;
  color: #050505a4;
}

.card-status {
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.status-dot {
  width: 12px;
  height: 12px;
  background-color: transparent;
  transition: all 0.3s ease;
  border: 2px solid #4a555e;
  border-radius: 50%;
}

.status-dot--active {
  box-shadow: 0 0 10px 2px rgba(118, 159, 157, 0.6);
  border-color: #769f9d;
  background-color: #bed0cf;
}

.status-text {
  font-size: 12px;
  font-weight: 700;
}





.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-align: center;

}

.btn--primary {
  padding: 16px 40px;
  font-weight: 600;
  background: linear-gradient(90deg, var(--color-tertiary) 0, var(--color-secondary) 90%);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: #000000a0;
}

.btn--primary:hover,
.submit__button:hover {
  box-shadow: 0 6px 20px rgba(224, 236, 232, 0.264);
  color: #000000a0;
}

.btn--secondary {
  padding: 12px 16px;
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary)80%);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  color: #000000a0;
}

.btn--secondary:hover {
  box-shadow: 0 6px 20px rgba(224, 236, 232, 0.264);
  color: #000000a0;
}

.btn--tertiary {
  background: transparent;
  padding: 8px 16px;
  transition: all 0.3s ease;
  color: #c3c6cacf;
}

.btn--tertiary:hover {
  color: #ffffff;
}

.btn--active {
  background-color: #48576367;
}

.btn__group {
  gap: 8px;
  padding: 5px 12px;
  border-radius: 10px;
  background-color: #252f374f;
}

.btn__content {
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: min-content;
  font-weight: 600;
  font-size: 14px;
  color: #000000a0;
}





.empty-state {
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 32px 60px;
  max-width: fit-content;
  margin-top: 100px;
  background-color: #1d2725a5;
  border: 2px dotted #374A4D;
  border-radius: 20px;

}

.empty-state__icon {
  padding: 12px;
  background-color: #A5B5C1;
  border-radius: 24px;
}

.box__title {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 800;
}




















.footer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 100px;
  margin: 10px;
  color: #c9c3c38b;
}

.footer-right {
  display: flex;
  align-items: baseline;
  gap: 12px;
}




























.hidden {
  display: none;
}



@media all and (min-width: 640px) and (max-width: 1023.98px) {}

@media all and (min-width: 1024px) {}